form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-style: italic;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  width: 12rem;
  height: 2rem;
  margin-top: 5px;
  margin-bottom: 3px;
} 

button {
  margin: 20px;
  text-decoration: none;
  padding: 5px 20px;
  background-color: rgb(28, 40, 207);
  font-family: "PatuaOne-Regular";
  /* background-color: rgb(28, 40, 207); */
  color: white;
  font-size: medium;
  border-radius: 5px;
}