 /* 
.dark button {
  background-color: #2f3136;
  color: white;
} */
 /* .light button {
  color: black;
  background-color: #fafafa;
}
.light button.active,
.dark button.active {
  background-color: #7289da;
  color: white;
}  */