/* .canvasContainer {
  max-width: 500px;
  max-height: 600px;
} */

.canvas {
  cursor: url(../../assets/Trump.cur), default;
}

@media screen and (max-width: 800px) {
  .canvas {
    width: 100%;
  }
}
