
.canvas {
  cursor: url(../../assets/Trump.cur), default;
;}

@media screen and (max-width: 800px){
  .canvas {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px){
  .canvas {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 500px){
  .canvas {
    transform: scale(0.5);
  }
}