.quicklistContainer {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.quicklistContent {
  padding-left: 0px;
}

.quicklistBtn {
  text-align: center;
  padding: 4px;
  margin-bottom: 10px;
  font-family: "PatuaOne-Regular";
  background-color: rgb(28, 40, 207);
  color: white;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

.quicklistBtn:hover {
  transform: scale(0.9);
}

.resetBtn {
  text-align: center;
  padding: 4px;
  margin-bottom: 10px;
  font-family: "PatuaOne-Regular";
  background-color: rgb(202, 32, 32);
  color: white;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

.resetBtn:hover {
  transform: scale(0.9);
}

.downloadBtn {
  text-align: center;
  padding: 4px;
  margin-bottom: 10px;
  font-family: "PatuaOne-Regular";
  background-color: rgb(49, 131, 49);
  color: white;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

.downloadBtn:hover {
  transform: scale(0.9);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.tabs {
  font-family: "PatuaOne-Regular";
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 130px;
  border: none;
  outline-style: none;
  font-size: 0.8em;
  text-align: left;
  margin: 5px;
}

.quicklistPic {
  width: 40px;
  height: 40px;
  margin: 2px;
}

.listactive {
  cursor: pointer;
}

.listactive:hover {
  transform: scale(0.9);
}

.quicklistPic:hover {
  transform: scale(0.9);
}
.inputs {
  width: 80px;
  cursor: pointer;
}

.inputs:hover {
  transform: scale(0.9);
}

.hide {
  display: none;
}

.list {
  list-style-type: none;
  position: absolute;
  line-height: 2em;
  cursor: pointer;
  background-color: white;
}

.fontContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1em;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
}

.wrapper3 {
  display: flex;
  flex-direction: column;
}

.wrapper4 {
  display: flex;
  flex-direction: column;
}

.indieFlower:hover {
  transform: scale(0.9);
}

.indieFlower {
  font-family: "Indie Flower";
}

.kaushanScript:hover {
  transform: scale(0.9);
}

.kaushanScript {
  font-family: "Kaushan Script";
}

.pacifico:hover {
  transform: scale(0.9);
}

.pacifico {
  font-family: "Pacifico";
}

.homemadeApple:hover {
  transform: scale(0.9);
}

.homemadeApple {
  font-family: "Homemade Apple";
}

.wallpoet:hover {
  transform: scale(0.9);
}

.wallpoet {
  font-family: "Wallpoet";
}

.robotoMono:hover {
  transform: scale(0.9);
}

.robotoMono {
  font-family: "Roboto Mono";
}

.bebasNeue:hover {
  transform: scale(0.9);
}

.bebasNeue {
  font-family: "Bebas Neue";
}

.monoton:hover {
  transform: scale(0.9);
}

.monoton {
  font-family: "Monoton";
}

.bangers:hover {
  transform: scale(0.9);
}

.bangers {
  font-family: "Bangers";
}

.piedra:hover {
  transform: scale(0.9);
}

.piedra {
  font-family: "Piedra";
}

.frederickaTheGreat:hover {
  transform: scale(0.9);
}

.frederickaTheGreat {
  font-family: "Fredericka the Great";
}

.vt323:hover {
  transform: scale(0.9);
}

.vt323 {
  font-family: "VT323";
}

.vastShadow:hover {
  transform: scale(0.9);
}

.vastShadow {
  font-family: "Vast Shadow";
}

.button {
  margin: 5px;
  text-decoration: none;
  padding: 5px 5px;
  margin-bottom: 10px;
  font-family: "PatuaOne-Regular";
  background-color: rgb(28, 40, 207);
  color: white;
  font-size: medium;
  border-radius: 5px;
}

@media screen and (max-width: 410px) {
  .tabs {
    font-size: small;
  }
  .boxes {
    width: 80px;
  }

  .inputs {
    width: 50px;
  }
  .wrapper1 {
    padding: 0 4px;
  }
  .wrapper2 {
    padding: 0 4px;
  }

  .wrapper3 {
    padding: 0 4px;
  }
  .wrapper4 {
    padding: 0 4px;
  }
}
