.quicklistContainer {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding-bottom: 10px;
}

.quicklistBtn {
  text-align: center;
  padding: 4px;
  margin-bottom: 20px;
  font-family: "PatuaOne-Regular";
  background-color: rgb(28, 40, 207);
  color: white;
  font-size: medium;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: none;
  outline-style: none;
}

.quicklistPic {
  width: 40px;
  height: 40px;
  margin: 2px;
}

.quicklistPic:hover {
  transform: scale(0.9);
}

.hide {
  display: none;
}

.list {
  list-style-type: none;
  position: absolute;
  line-height: 2em;
}

.indieFlower {
  font-family: "Indie Flower";
}

.kaushanScript {
  font-family: "Kraushan Script";
}

.pacifico {
  font-family: "Pacifico";
}

.homemadeApple {
  font-family: "Homemade Apple";
}

.wallpoet {
  font-family: "Wallpoet";
}

.robotoMono {
  font-family: "Roboto Mono";
}

.bebasNeue {
  font-family: "Bebas Neue";
}

.monoton {
  font-family: "Monoto";
}

.bangers {
  font-family: "Bangers";
}

.piedra {
  font-family: "Piedra";
}

.frederickaTheGreat {
  font-family: "Fredericka the Great";
}

.vt323 {
  font-family: "VT323";
}

.vastShadow {
  font-family: "Vast Shadow";
}
