.App {
  height: 100vh;
  width: 100%;
}

.Toolbar {
  width: 60px;
}

.trumpdark {
  width: 40px;
}

.trumplight {
  width: 40px;
}

.yellowBanner {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  font-family: "PatuaOne-Regular";
  background-color: yellow;
  height: auto;
  text-align: center;
  padding: 5px;
}

p {
  font-family: "PatuaOne-Regular";
  text-align: center;
}
.yellowBanner span {
  text-decoration: underline;
}

/* Dark Mode */

.App.dark {
  background-color: #363940;
  color: rgb(163, 158, 158);
  height: 100vh;
}

/* Light Mode */

.App.light {
  background-color: #fff;
  height: 100vh;
}

.flex-body-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.flex-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .flex-body-container {
    flex-direction: column;
  }
}
