body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Indie Flower', 'Kaushan Script', 'Pacifico', 'Homemade Apple',
     'Wallpoet', 'Roboto Mono', 'Bebas Neue', 'Monoton', 'Press Start 2P', 'Bangers', 'Piedra', 'Fredericka the Great', 'VT323', 'Vast Shadow',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
